<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
</head>
    <body>
        <h2 style="text-align: center;">Welcome to the company Application Site</h2>
        <div style="display: flex; margin: 0 auto; justify-content: center; align-items: center;">
        <ul><a href="/show_employees/" class='btn btn-primary'>Show All Employees</a></ul>

        <ul><a href="/employee_record/1002" class="btn btn-success">Employee Record</a></ul>

        <ul><a href="/employee_stat/" class="btn btn-success">Employee Stats</a></ul>
        </div>
    </body>
</html>